<div class="ui fixed inverted main menu">
  <div class="container">
    <a class="launch item">
      <i class="content icon"></i>
    </a>
    <div class="title item">
      <b>UI Element:</b>
      Header
    </div>
  </div>
</div>
