append styles
  case device
    default
      //- If device is a phone, use ratchet
      link(rel='stylesheet', href='/stylesheets/vendor/semantic/semantic.css' + cachebust)
      link(rel='stylesheet', href='/stylesheets/desktop/style.css' + cachebust)
